.materialTextTitle {
    padding: 0px 50px 0px 50px;
}

.btn_help {
    color: white;
    background-color: #686868;
    text-align: right;
    text-transform: capitalize;
}

.border {
    border-width: 1 0 0 0;
    border: 1px solid black;
}
.quiz-material {
    border-width: 1 1 1 1;
    border: 1px solid black;
    background-color: white;
    padding: 0px 0px 0px 0px;
    text-align: center;
 
}
.evaluate-material {
    border-width: 0 1 1 1;
    border: 1px solid black;
    background-color: white;
    padding: 10px 20px 10px 20px;
 
}
.evaluate-label {
    border-width: 1 1 0 1;
    /*border: 1px solid black;*/
    background-color: white;
    padding: 10px 20px 0px 20px;
    margin-top: 10px;
    font-weight: bold;
    color: black;
}
.submit-button {
    font-size: 14px;
}
