<ActionBar [title]="need.description" class="action-bar">
    <NavigationButton text="Voltar" android.systemIcon="ic_menu_back" [nsRouterLink]="['/patient',patient.id,'needs']"></NavigationButton>
</ActionBar>
<StackLayout class="page">
    <ListView [items]="materials" class="list-group" [class.visible]="listLoaded">
        <ng-template let-item="item">
            <StackLayout  orientation="vertical">
               
               <Image *ngIf="item.type == 'image'" [src]="item.url" stretch="aspectFill" height="300" width="400" ></Image>
             <label *ngIf="item.type == 'text'" [text]="item.body" textWrap="true"></label>
             
               <VideoPlayer *ngIf="item.type == 'video'" [src]="item.url" autoplay="false" height="300" controls="true"> </VideoPlayer>
              
</StackLayout>




</ng-template>
</ListView>
</StackLayout>
<!--
<GridLayout [auto-grid-rows]="autoCreateRows" flexWrap="wrap" orientation="vertical" *ngFor="let material of materials"
    class="list-items">
    <FlexboxLayout *ngIf="material.type == 'jpg'" flexWrap="wrap" justifyContent="space-between" flexDirection="column" class="page">
        <Label [text]="material.name" class="title"></Label>
        <Image [src]="material.strLink"></Image>

    </FlexboxLayout>

    <FlexboxLayout *ngIf="material.type == 'mp4'" flexWrap="wrap" justifyContent="space-between" flexDirection="column" class="page">
        <Label [text]="material.name" class="title"></Label>
        <VideoPlayer *ngIf="isMp4" [src]="material.strLink" autoplay="true" height="300" controls="true"> </VideoPlayer>
    </FlexboxLayout>
    <FlexboxLayout *ngIf="material.type == 'txt'" flexWrap="wrap" justifyContent="space-between" flexDirection="column" class="page">
        <Label [text]="material.name" class="title"></Label>
        <label [text]="material.description" textWrap="true"></label>

    </FlexboxLayout>

</GridLayout>
-->