<ActionBar [title]="'Materiais Disponíveis'" class="action-bar">
    <!--<ActionBar [title]="'Materiais Disponiveis [' +patient.name +']'" class="action-bar">-->
    <NavigationButton text="Voltar" android.systemIcon="ic_menu_back" [nsRouterLink]="['/patients']"></NavigationButton>
    <ActionItem *ngIf="hasEvaluationsToDo" android.systemIcon="2" android.systemIcon="ic_menu_notifications" ios.position="right" [nsRouterLink]="['/evaluations']"></ActionItem>

</ActionBar>

<StackLayout class="page">
    <ListView [items]="materials" class="list-group">
        <ng-template let-item="item">     
            <GridLayout rows="*,auto" columns="*, auto" [nsRouterLink]="['/patient',patient.id,'material',item.id]">
                <StackLayout orientation="vertical" padding="3px 0px 3px 0px">
                    <Label class="evaluation-color" [ngStyle]="getBorderColor(item.ratings)" height="3"></Label>
                    <Label class="" height="6"></Label>
                    <Label class="h3 text-content" [text]="item.name" textWrap="true" ></Label>
                    <!--<Label class="h3" [text]="item.ratings[item.ratings.length-1]"></Label>-->
                    <!--<Label class="h4" [text]="'Material Type: '+item.type" textWrap="true"></Label>-->

                    <Label class="h4 text-content" [text]="item.need_description" textWrap="true"></Label>
                    <!--<Button text="Auto-avaliar a minha capacidade" class="submit-button" (tap)="autoavaliarCuidador()"></Button>-->
                    <Label class="" height="6"></Label>
                    <Label class="evaluation-color" [ngStyle]="getBorderColor(item.ratings)" height="3"></Label>
                </StackLayout>
            </GridLayout>       
            <!--<Label [text]="item.description" textWrap="true" class="needList"></Label>-->
            <!--<Label [nsRouterLink]="['/patient',patient.id,'need',item.id]" [text]="'['+item.id+ '] - '+item.description" class="needList"></Label>-->

        </ng-template>
    </ListView>
</StackLayout>