/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';

.action-bar {
  background-color: #006666;
  color: white;
  
}

.action-bar .title{
    font-family: Courier New, Courier, monospace;
}

.page {
  background-color:#e6ffff;
  font-family: Courier New, Courier, monospace;
}

.utente {
  padding: 10px 0px;
  font-size: 14px;
}
.patientLocation {
  padding: 40px 0px;
 font-weight: italic;
  font-size: 12px;
}


.materialTextTitle{
  font-weight: bold;
}

.materialImageDescription{
  font-weight: italic;
  font-size: 10px;
}

.materialVideoDescription{
  font-weight: italic;
  font-size: 10px;
}

.needList{
  font-family: Courier New, Courier, monospace;
  font-size: 18px;
   padding: 10px 10px 10px 10px;
}
.listViewPassosMaterial{

   padding: 10px 10px 10px 10px;
}

.materialAnnex{
  background-color: #70ACA6;
  color: black;
}