<ActionBar title="Os meus Dados" class="action-bar">
    <NavigationButton text="Voltar" android.systemIcon="ic_menu_back" [nsRouterLink]="['/patients']">
    </NavigationButton>
</ActionBar>
<StackLayout class="page">
    <StackLayout class="profile-layout">
        <GridLayout class="profile-grid" rows="auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto" columns="auto, *" >
            <Label text="Utilizador: " class="profile-label" row ="0" col="0"></Label>
            <Label [text]="app_user.username" textWrap="true" class="" row ="0" col="1"></Label>
            <Label text="Contacto: " class="profile-label" row ="1" col="0"></Label>
            <Label [text]="app_user.email" textWrap="true" class="" row ="1" col="1"></Label>
            <Label text="Localização: " class="profile-label" row ="2" col="0"></Label>
            <Label [text]="app_user.location" textWrap="true" class="" row ="2" col="1"></Label>
        </GridLayout>
    </StackLayout>
    <StackLayout>
        <Label text="Contatos" class="contacts-label" row ="0" col="0"></Label>
        <GridLayout *ngFor="let item of app_user.contacts" [text]="item" textWrap="true" class="contacts-grid" rows="auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto" columns="auto, auto, *">
            <Label [text]="item.name" class="contacts-name" textWrap="true" row ="1" col="0"></Label>
            <Label text=": " class="" row ="1" col="1"></Label>
            <Label [text]="item.email" class="contacts-label" textWrap="true" class="" row ="1" col="2"></Label>
        </GridLayout>
    </StackLayout>
</StackLayout>