<ActionBar title="Utentes" class="action-bar">
    <ActionItem *ngIf="hasEvaluationsToDo" android.systemIcon="3" android.systemIcon="ic_menu_notifications" ios.position="right"
        [nsRouterLink]="['/evaluations']"></ActionItem>
    <ActionItem *ngIf="patientService.isConnected()" android.systemIcon="2" android.systemIcon="ic_popup_sync_2" ios.position="right" [nsRouterLink]="['/patients']"
        (tap)="refreshData()"></ActionItem>
    <ActionItem android.systemIcon="ic_menu_friendslist" ios.position="right" [nsRouterLink]="['/myInfo']"></ActionItem>

</ActionBar>
<StackLayout class="page">
    <ListView [items]="patients" class="list-group" [class.visible]="listLoaded" separatorColor="white">
        <ng-template let-item="item">
                <GridLayout rows="*, 100" columns="100, *, auto" (tap)="goToMaterialsOfPatient(item.id)"(swipe)="goToMaterialsOfPatient(item.id)" >
                    <Image src="~/localmaterials/image/Person-placeholder.jpg" width="65" height="70" class="patient-photo"
                        row="1" col="0"></Image>
                   
                    <Label class="names-label" [text]="item.name" textWrap="true" row="1" col="1"></Label>
                    <Label [text]="item.email" textWrap="true" class="patientEmail" row="2" col="1"></Label>
             
                </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>

<ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center"
    verticalAlignment="center">
</ActivityIndicator>