ListView {
  opacity: 0;
}
.visible {
  animation-name: show;
  animation-duration: 1s;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.patient-photo {
  margin-left: -50px;
}

label {
    margin-top: 25px;
    margin-left: -40px;
}
