

<ActionBar title="Necessidades" class="action-bar">

</ActionBar>

<!--ScrollView dentro de um StackLayout elimina imagens e butoes-->
<StackLayout>
   
</StackLayout>
-->
<!--
<StackLayout class="page">
    <ListView [items]="needs" class="list-group" [class.visible]="listLoaded">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['/patient', item.id]" [text]="item.name"
                class="list-group-item"></Label>
        </ng-template>
    </ListView>
</StackLayout>
-->